# Python
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual environment
.venv/
env/
virtualenv/
virtual-env/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.swp
